URI Scheme with uppercase (HTTP or HTTPS) are not working

## Steps to reproduce
Typing a URI which begin with HTTP or HTTPS

### Expected behavior
Connect to the website

### Actual behavior
Show an exclamation mark :warning: and do not connect to the website

### Device information

* Android device: Every Android devices
* Focus version: 7.0.13

According to the RFC 3986 Section 6.2.2.1 (https://tools.ietf.org/html/rfc3986#section-6.2.2.1):

"When a URI uses components of the generic syntax, the component
syntax equivalence rules always apply; namely, that the scheme and
host are case-insensitive and therefore should be normalized to
lowercase."

QR Code use uppercases to reduce the number of bits for example.


Hi @STPR , I'm typing "HTTPS://google.com" and it loads Google for me. I may not be understanding the bug, could you give me an example of what you're typing?

Hi,

That's strange, it doesn't work for me when I'm typing "HTTPS://google.com" or "HTTPS://github.com" for example...
I get an exclamation mark like explained previously.

One thing to check :
Do you try those URI just after Firefox Focus have been launched or not ?

I'm able to reproduce it on Focus v7.0.11 with a Samsung Galaxy S7.
AutoCorrect and PredictiveText are off.

The issue appears when typing a URI from the pink/purple Focus starting page. Like so:
- Open the app.
- Ensure you are on the pink/purple Focus starting page.
- Search for "HTTPS://google.com".

However when typing a URI starting with HTTP/HTTPS on any other website it does not start loading the entered page at all after clicking search - it removes the keyboard and stays on the page it's currently on.

Ah this only happens with WV builds, I can reproduce now. Thanks! Since we are moving away from WV for GV we may not need to fix this

Still present in the 7.0.12 version.

I thought GeckoView was already included in Firefox Focus since version 7.

Seems corrected in the 8.0.6 version.
Thank you 👍

I was able to reproduce this issue on the latest RC build 92.1.1, with both Google Pixel (Android 10), and with Samsung Galaxy Tab A6 (Android 5.1.1).
The behavior is visible in the short video below:

https://user-images.githubusercontent.com/40694158/134482912-a979be4d-1164-4d33-9c24-8670dbf4cdd5.mp4

